extends ../layouts/application.pug

block header
  = t('views.users.title')

block content
  +formFor()(action=route('updateUserData', { id: user.id }) method='post')
    +input(user, 'email', errors)(type="text")
    +input(user, 'password', errors)(type="password")
    input(name='_method' type='hidden' value='patch')
    +submit(user)(value=t('views.manage.edit'))