extends ../layouts/application.pug

block header
  = t('views.users.title')

block content
  +formFor()(action=route('updateUserData', { id: user.id }) method='post')
    +input(user, 'firstName', errors)(type="text")
    +input(user, 'lastName', errors)(type="text")
    +input(user, 'email', errors)(type="text")
    +input(user, 'password', errors)(type="password")
    +submit(user)(value=t('views.manage.edit'))
    +buttonTo(route('updateUserData', { id: user.id }), 'patch')
