extends ../layouts/application.pug

block header
  = t('views.statuses.titleUpdate')

block content
  +formFor()(action=route('updateStatus', { id: status.id }) method='post')= t('views.statuses.name')
    +input(status, 'name', errors, false)(type="text")
    +buttonTo(route('updateStatus', { id: status.id }), 'patch')(value=t('views.manage.edit') class='btn btn-primary')
