extends ../layouts/application.pug

block header
  = t('views.labels.titleUpdate')

block content
  +formFor()(action=route('updateLabel', { id: label.id }) method='post')
    +input(label, 'name', errors)(type="text")
    +buttonTo(route('updateLabel', { id: label.id }), 'patch')
      +submit(t('views.manage.edit'))
    
